
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #000; 
    font-family: Arial, sans-serif;
    color: #fff; 
    background-image: url('assets/back.png');
    background-size: cover; /* A imagem se ajustará à largura e altura da tela */
    background-repeat: no-repeat; /* Impede a repetição da imagem de fundo */
    background-attachment: fixed; /* Fixa a imagem de fundo para que não role com a página */
}


.login-button {
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 16px;
    text-decoration: underline;
    margin-right: 20px;
}

.container-logo img {
  max-width: 100%;
}

 /* Estilos para centralizar o conteúdo na página */
/* Estilos gerais */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.hero h1 {
  font-size: 40px;
  margin: 20px 0;
}

.hero p {
  font-size: 20px;
  margin: 10px 0;
}

.hero .cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ebb740;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  transition: transform 0.2s ease;
}

.hero .cta-button:hover {
  transform: scale(1.05);
  color:#565050;
}

.barra-navegacao {
  background-color: white; /* Define o fundo do header como transparente */
  height: 80px; /* Altura da barra de navegação */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.login-botao {
  
  margin-right: -20px;
  padding: 10px 20px; /* Adapte o preenchimento conforme necessário */
  background-color: #ebb740; /* Cor de fundo do botão */
  color: #000000; /* Cor do texto do botão */
  border: none;
  font-weight: bold;
  border-radius: 5px; /* Cantos arredondados */
}

/* Estilos de hover para o botão (opcional) */
.login-botao:hover {
  background-color: #ebb740; /* Cor de fundo do botão ao passar o mouse */
}
.cor-texto {
  color: rgb(122, 121, 121);
}
/* Objetivos */
.filme-section {
  background: linear-gradient(90deg, #000, #242323); 
  padding: 90px; /* Espaçamento interno para separar o conteúdo da barra */
  position: relative;
  font-size: 22px; /* Defina o tamanho de letra desejado (por exemplo, 18px) */
  }
  
  .filme-section1 {
  background: linear-gradient(90deg, #242323, #000); 
  padding: 90px; /* Espaçamento interno para separar o conteúdo da barra */
  position: relative;
  font-size: 22px; /* Defina o tamanho de letra desejado (por exemplo, 18px) */
}

.filme-section2 {
  background: linear-gradient(90deg, #242323, #000); 
  position: relative;
  padding-right: 15px;
  padding-left: 5px;
  font-size: 22px; /* Defina o tamanho de letra desejado (por exemplo, 18px) */
}
 
  .pc-image {
    max-width: 350px;
  }

.texto-formatado {
 
  white-space: pre-line;
 
}

/* Estilos personalizados */
.align-right {
  float: right; /* Alinha a imagem à direita */
  margin-left: 20px; /* Ajuste de margem à esquerda (opcional) */
  max-width: 30%; /* Garante que a imagem não ultrapasse o tamanho do contêiner */
  height: auto;
  margin-top: -90px; 
}

/* Barra de navegação*/
.container{
  max-width: 2000px;
  width: 120%;
  margin-left: -12px;
}

header {
  position: relative;
  top :0;
  height: auto;
  width: 100%;
}

nav{
  position:fixed;
  top: 0;
  height: 80px;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
 
}
nav:after{
  clear:both;
  content: "";
  display: block;
}
.nav-container {
  max-width: 1200px;
  position: relative;
  margin-right: auto;
  margin-left: auto;

  padding: 0 24px;
}

header {
  top: 0;
  width: 100%;
  background-color:#00000066
}
/* Ajustando a largura para diferentes níveis de zoom */

#logo {
  width: 100px; 
}

.nav-container a {
  text-decoration:none;
  color: #000000;
  transition: .5s;
}
.nav-container a:hover {
  color:#565050;
}

/* Continue com mais media queries para cada nível de zoom que deseja controlar */

.btns-nav {
  float: right; /* Alinha o botão à direita */
  margin-top: 35px; /* Ajuste a margem superior conforme necessário */
}

.login-botao {
  text-decoration: none;
  color: #000000;
  transition: .5s;
  padding: 10px 20px; 
}

.login-botao:hover {
  color: #565050;
}

/*Footer*/

footer {
  background: linear-gradient(90deg, #242323, #000); 
  color: #fff; /* Cor do texto no rodapé */
  padding: 20px; /* Espaçamento interno do rodapé */
  text-align: center; /* Alinhamento do texto ao centro */
}

.redes-sociais {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.redes-sociais a:hover {
  transform: scale(1.2); /* Aumenta o tamanho em 20% no hover */
}

.redes-sociais img {
  width: 40px; 
  height: 40px; 
  margin-right: 15px;
}

.termos-e-condicoes {
  margin-top: 15px;
}
.termos-e-condicoes a {
  text-decoration: none;
  color: rgb(245, 245, 245);
  transition: color 0.3s ease;
}

.termos-e-condicoes a:hover {
  color: #484a4c;
 
}

.forms-botao {
  
  margin-right: -20px;
  padding: 10px 20px; /* Adapte o preenchimento conforme necessário */
  background-color: #ebb740; /* Cor de fundo do botão */
  color: #000000; /* Cor do texto do botão */
  border: none;
  font-weight: bold;
  border-radius: 5px; /* Cantos arredondados */
}

/* Estilos de hover para o botão (opcional) */
.forms-botao:hover {
  background-color: #ebb740; /* Cor de fundo do botão ao passar o mouse */
}

.separador {
  height: 10px; /* Altura da barra */
  background-color: #353433; /* Cor da barra */
  width: 100%; /* Largura total */
}

/*Perguntas frequentes */
.centralizado {
  text-align: center;
  font-weight: bold;
  align-items: center; 
}

.faq-list {
  list-style: none;
  padding: 0;
  margin: 20px auto;
}

.question {
  cursor: pointer;
  background-color: #ebb740;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ebb740;
  border-radius: 5px;
  color: #000;
  font-weight: bold;
}

.answer {
  display: none;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: bold;
  align-items: center;
}

.hidden {
  display: none;
}

#formulario {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  position: relative;
  z-index: 2;
}

#campoTexto {
  
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
}
#enviar {
  background-color: #ebb740;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}