
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #000; 
    font-family: Arial, sans-serif;
    color: #fff; 
    background-image: url('assets/back.png');
    background-size: cover; /* A imagem se ajustará à largura e altura da tela */
    background-repeat: no-repeat; /* Impede a repetição da imagem de fundo */
    background-attachment: fixed; /* Fixa a imagem de fundo para que não role com a página */
}


.login-button {
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 16px;
    text-decoration: underline;
    margin-right: 20px;
}

.container-logo img {
  max-width: 100%;
}

 /* Estilos para centralizar o conteúdo na página */
/* Estilos gerais */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.hero h1 {
  font-size: 40px;
  margin: 20px 0;
}

.hero p {
  font-size: 20px;
  margin: 10px 0;
}

.hero .cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ebb740;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

.hero .cta-button:hover {
  background-color: #ebb740;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .hero h1 {
      font-size: 30px;
  }

  .hero p {
      font-size: 16px;
  }

  .hero .cta-button {
      font-size: 16px;
  }
}


.barra-navegacao {
  background-color: white; /* Define o fundo do header como transparente */
  height: 80px; /* Altura da barra de navegação */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.login-botao {
  
  margin-right: -20px;
  padding: 10px 20px; /* Adapte o preenchimento conforme necessário */
  background-color: #ebb740; /* Cor de fundo do botão */
  color: #000000; /* Cor do texto do botão */
  border: none;
  font-weight: bold;
  border-radius: 5px; /* Cantos arredondados */
}

/* Estilos de hover para o botão (opcional) */
.login-botao:hover {
  background-color: #ebb740; /* Cor de fundo do botão ao passar o mouse */
}








.barra {
  position: absolute; /* Permite posicionar a barra sobre o fundo preto */
  top: 0; /* Posiciona a barra na parte superior */
  left: 0;
  right: 0;
  height: 7px; /* Altura da barra */
  background-color: rgb(47, 45, 45); /* Cor da barra */
  border: none;
}


.cor-texto {
  color: rgb(122, 121, 121);
}

.texto-formatado {
  text-align: left;
  white-space: pre-line;
 
}

.filme-section {
  background: linear-gradient(90deg, #000, #242323); 
  padding: 100px; /* Espaçamento interno para separar o conteúdo da barra */
  position: relative;
  font-size: 22px; /* Defina o tamanho de letra desejado (por exemplo, 18px) */
}


.imagem-pc {
  float: right; /* Alinha a imagem à direita */
  
  max-width: 100%; /* Ajusta a largura máxima da imagem conforme necessário */
  max-width: 340px; /* Defina a largura máxima desejada para as imagens */
  margin-right: 90px; /* Adicione margem direita para mover a imagem para a esquerda */
  margin-top: -90px; /* Adicione margem superior negativa para mover a imagem para cima */
}
.container{
  max-width: 1920px;
  width: 100%;
}

header {
  position: relative;
  top :0;
  height: auto;
  width: 100%;
}

nav{
  position:fixed;
  top: 0;
  height: 80px;
  width: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
 
}
nav:after{
  clear:both;
  content: "";
  display: block;
}
.nav-container{
  max-width: 1200px;
  position:relative;
  margin-right: auto;
  margin-left: auto;
}

#logo {
  margin-top: -15px;
  margin-left: -120px;
  width: 110px; 
}

.nav-container ul {
  float: right;
 margin-top: 30px;
 margin-right: -75px;
  
}

.nav-container li {
  list-style: none;
  
  
}
.nav-container li a {
  text-decoration:none;
  color: #000000;
  transition: .5s;
}
.nav-container li a:hover {
  color:#3381F3;
}

@media (max-width: 768px) {
  nav {
      height: 60px; /* Reduz a altura da barra de navegação */
      height: 30px;
  }

  #logo {
      width: 50px; /* Reduz o tamanho do logotipo */
      margin-left: 50px;
      margin-top: -10px;
  }
  .login-botao {
  
    margin-right: 100px;
    padding: 0px ;
    background-color: #ebb740; /* Cor de fundo do botão */
    color: #000000; /* Cor do texto do botão */
    border: none;
    font-weight: bold;
    border-radius: 5px; /* Cantos arredondados */
  }
  .nav-container ul {
    float: right;
   margin-top: 0px;
   margin-right: -75px;
    
  }

}

footer {
  background-color: #333; /* Cor de fundo do rodapé */
  color: #fff; /* Cor do texto no rodapé */
  padding: 20px; /* Espaçamento interno do rodapé */
  text-align: center; /* Alinhamento do texto ao centro */
}

.redes-sociais {
  text-align: center; /* Alinhe os ícones ao centro */
}
.redes-sociais a {
  margin: 0 10px; /* Adicione margens entre os ícones para separação */
}


